/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --color-keys-disabled: #fcfcfc;
  --color-keys-hover: rgb(56, 56, 228);
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

p {
  font-size: var(--font-size-medium);

}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: var(--color-keys-hover);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

img {
  height: 35px;
  width: 30px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

.section li {
  height: 65px;
  width: 65px;
  transition: all .4s ease-in-out;
}

.space {
  height: 65px;
  width: 30px;
  background: white;
}

.letter, .hint {
  font-size: var(--font-size-medium);
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;

}

.hint {
  height: 65px;
  width: 65px;
  color: #5b85b7;
  cursor: pointer;
  background: transparent;
}

.show {
  color: #000;
  background-color: #76CE82;
  box-shadow: 1px 2px 3px cyan;
  font-size: 25px;
  transform: scale(0.9) rotate(365deg);
  animation-name: letters;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 100;
  transition: all 0.3s ease-in;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.start a {
  color: var(--color-win);
}

.win, .lose, .show {
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 3;
}

.win {
  background-color: var(--color-win);
  animation-name: showWin;
  
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
  animation-name: showLose;
}

.lose a {
  color: var(--color-lose);
}


/* === Animations === */
@keyframes showWin {
  from {background-color: var(--color-win);}
  to {background-color: rgb(0, 255, 64);}  
}

@keyframes showLose {
  from {background-color: var(--color-lose);}
  to {background-color: rgb(255, 94, 0);}  
}

@keyframes letters {
  from {background: #76CE82}
  to {background-color: #76ce82e5;}  
}
